<section class="footer">
    <div class="footer-top">
        <div class="section-container mx-auto">
                <div class="row g-0 pt-4">
                    <div class="col-12 col-md-4">
                        <div class="mx-auto figura-top">
                            <figure class="pt-5">
                                <img class="img-fluid" src="{{theme.link}}/static/images/logo-define-branco.png" alt="">
                            </figure>
                            <ul class="d-flex justify-content-around mb-0 pb-md-4 ps-0">
                                <li><a target="_blank" href="https://www.instagram.com/definedesign___"><img src="{{theme.link}}/static/images/icon-instagram.svg" alt=""></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/company/define-desing-de-produtos"><img src="{{theme.link}}/static/images/icon-linkedin.svg" alt=""></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/channel/UCm0xkBCV6EZy2Y1NunNkFQA/featured"><img src="{{theme.link}}/static/images/icon-youtube.svg" alt=""></a></li>
                                <li><a target="_blank" href="https://wa.me/5581998623822"><img src="{{theme.link}}/static/images/icon-whatsapp-preenchido.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="mx-auto mx-md-0 pb-md-0 links-contato">
                            <div class="row pt-md-5">
                                <div class="col-md-6">
                                    <ul class="ps-0 mb-0">
                                        <li><img src="{{theme.link}}/static/images/icon-email.svg" alt="">
                                        <a class="text-white small text-decoration-none ps-2" href="mailto:marketing@definedesign.com.br">marketing@definedesign.com.br</a>
                                        </li>
                                        <li><img src="{{theme.link}}/static/images/icon-telefone.svg" alt="">
                                        <a class="text-white small text-decoration-none ps-2" href="tel:81 3338 1459">81 3338 1459</a>
                                        </li>
                                        <li><img src="{{theme.link}}/static/images/icon-whatsapp-vazado.svg" alt="">
                                        <a class="text-white small text-decoration-none ps-2" target="_blank" href="https://wa.me/5581998623822">81 9 9862 3822</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <div class="text-white">
                                        <h6 class="small text-uppercase mb-2">Onde estamos</h6>
                                        <address class="small">Rua Conde Pereira Carneiro <br> 
                                        Imbiribeira, Recife/PE <br>
                                        CEP 51.150-310</address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div>
        <div class="section-container mx-auto">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="footer-middle mx-auto pt-4">
                        <p class="cnpj small">{{"now"|date('Y')}} &copy; DEFINE DESIGN FABRICAÇÃO DE MATERIAIS PLASTICOS LTDA 
                            - CNPJ: 35.475.510/0001-08 | <a class="text-decoration-none text-dark" href="/politica-de-privacidade">Políticas de privacidade</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-bottom pt-md-4">
                        <div class="agencia pb-4 mx-auto">
                            <img class="img-fluid" src="{{theme.link}}/static/images/logo-hoverti-solucoes.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
