
<article class="col-12 col-sm-6 col-md-4 col-lg-3 tease tease-{{post.post_type}} p-2" id="tease-{{post.ID}}">
	{% block content %}
		{# <p>Resultado:</p> #}
		<a href="{{ post.link }}" title="Acessar {{ post.title }}" class="d-block text-decoration-none">
			<div class="tease__wrapper d-flex flex-column align-items-center">
				{% if post.thumbnail.src %}
					<figure class="tease__thumbnail m-0">
						<img src="{{ post.thumbnail.src }}" alt="{{post.title}}" class="w-100" />
					</figure>
				{% endif %}

				<div class="tease__details w-100 py-3">
					<h2 class="tease__title text-center m-0">
						{{ post.title }}
					</h2>

					{# <p class="m-0">
						{{ post.preview }}
					</p> #}
				</div>
			</div>
		</a>
	{% endblock %}
</article>
