
<article class="blackheader{{ classList }}">
  <div class="blackheader__wrapper d-flex flex-column flex-md-row align-items-end align-items-md-center justify-content-center justify-content-md-between">

    <div class="blackheader__socialmedia">
      <ul class="socialmedia d-flex align-items-center m-0 p-0 w-100 h-100">

        <li class="socialmedia-item">
          <a href="#" class="d-flex align-items-center justify-content-center w-100 h-100" title="Acompanhe no Instagram">
            <figure class="m-0">
              <img src="{{ site.theme.link | relative }}/static/images/instagram-logo.svg" alt="Instagram" class="w-100" />
            </figure>
          </a>
        </li>

        <li class="socialmedia-item">
          <a href="#" class="d-flex align-items-center justify-content-center w-100 h-100" title="Acompanhe no LinkedIn">
            <figure class="m-0">
              <img src="{{ site.theme.link | relative }}/static/images/linkedin-logo.svg" alt="LinkedIn" class="w-100" />
            </figure>
          </a>
        </li>

        <li class="socialmedia-item">
          <a href="#" class="d-flex align-items-center justify-content-center w-100 h-100" title="Acompanhe no YouTube">
            <figure class="d-flex align-items-center m-0">
              <img src="{{ site.theme.link | relative }}/static/images/youtube-logo.svg" alt="YouTube" class="w-100" />
            </figure>
          </a>
        </li>

        <li class="socialmedia-item">
          <a href="#" class="d-flex align-items-center justify-content-center w-100 h-100" title="Encontre-nos no WhatsApp">
            <figure class="m-0">
              <img src="{{ site.theme.link | relative }}/static/images/whatsapp-logo.svg" alt="WhatsApp" class="w-100" />
            </figure>
          </a>
        </li>

      </ul>
    </div>

    <div class="blackheader__mainlinks d-none d-md-block">
      <div class="mainlinks d-flex align-items-stretch">
        <ul class="d-flex m-0 p-0">
          <li>
            <a href="#" class="d-flex align-items-center h-100 text-decoration-none">
              FALE CONOSCO
            </a>
          </li>

          <li>
            <a href="#" class="d-flex align-items-center h-100 text-decoration-none">
              INSTITUCIONAL
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="blackheader__searchbox order-first order-md-last">
      <div class="searchbox">
        <form class="h-100 d-flex align-items-center" action="/">
          <input type="text" placeholder="Pesquisar" name="s" />

          <button type="submit">
          </button>
        </form>
      </div>
    </div>

  </div>
</article>
