
{% include "partial/blackheader.twig" with { "classList": " d-none d-md-block" } %}

<header class="header" id="header">
  {% block header %}
    <div class="header__wrapper position-relative d-flex align-items-center justify-content-between">
      <a href="{{ site.url }}" class="logo d-block">
        <figure class="logo-image h-100 m-0">
          <img src="{{ site.theme.link | relative }}/static/images/logo-define-design.svg" alt="{{ site.name }}" class="h-100" />
        </figure>
      </a>

      <nav id="nav-main" class="navbar align-content-between align-items-md-center p-0 m-0" role="navigation">
        
      <div class="menus-principais w-100 d-block d-md-none">
        <!--De HOME a FALE CONOSCO no mobile-->
        <ul class="menu-top d-flex d-md-none flex-column align-items-end w-100">
          <li>
            <a href="{{site.link}}/" class="d-flex align-items-center h-100 text-decoration-none">
              HOME
            </a>
          </li>
          <li>
            <a href="{{site.link}}/#institucional" class="d-flex align-items-center h-100 text-decoration-none">
              INSTITUCIONAL
            </a>
          </li>
          <li>
            <a href="{{site.link}}/#duvidas-frenquentes" class="d-flex align-items-center h-100 text-decoration-none">
              DÚVIDAS FREQUENTES
            </a>
          </li>
          <li>
            <a href="{{site.link}}/contato" class="d-flex align-items-center h-100 text-decoration-none">
              FALE CONOSCO
            </a>
          </li>
        </ul>
        <!--/ De HOME a FALE CONOSCO no mobile -->
        {# {% include "partial/blackheader.twig" with { "classList": " w-100 d-md-none" } %} #}
        {% include "menu.twig" with {'items': menu.get_items,  "classList": " w-100 d-md-none" } %}
      </div>        

        <div class="d-none d-md-block">
          {% include "menu.twig" with {'items': menu.get_items} %}
        </div>

        {% include "partial/blackheader.twig" with { "classList": " w-100 d-md-none" } %}
      </nav>

      <span class="hamburger d-md-none d-flex flex-column align-items-center justify-content-center position-relative" id="hamburger">
        <span class="d-block position-absolute"></span>
        <span class="d-block"></span>
        <span class="d-block position-absolute"></span>
      </span>
    </div>
  {% endblock %}
</header>
